:root {
  --headings: #77529e;
  --background1: #a5bdfd;
  --background2: #d9f2ff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background1);
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 48px;
  background-color: #dcb5ff;
  border-bottom: 5px solid black;
  padding: 10px;
}

nav {
  background-color: var(--background2);
  border-bottom: 5px solid black;
}

.nav-links,
.contact {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  flex-wrap: wrap;
}

h2 {
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 8px;
  background-color: var(--headings);
  margin-block: 5px;
}

@media screen and (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
  img {
    max-width: 100%;
  }
  .facts {
    padding-top: 10px;
  }
}

a {
  font-size: 24px;
  color: white;
  display: block;
  padding-block: 10px;
  padding-inline: 20px;
  margin-block: 5px;
  border-radius: 20px;
  background-color: var(--headings);
  text-decoration: none;
}

.image {
  display: flex;
}

img {
  border-radius: 15px;
  max-width: 400px;
  flex-basis: 1 1 auto;
  align-items: center;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 5px solid black;
  padding-block: 20px;
  padding-inline: 20px;
}

#contact {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: #d9f2ff;
  margin-top: 10px;
}

.facts {
  font-size: 24px;
  line-height: 30px;
  padding-left: 25px;
}

.work-exp {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 25px;
}

.card h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 5px;
}
