* {
  box-sizing: border-box;
}

body {
  background-color: #a5bdfd;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 48px;
  background-color: #dcb5ff;
  border-bottom: 5px solid black;
  padding: 10px;
  width: auto;
}

nav {
  padding: 10px;
  background-color: #d9f2ff;
  border-bottom: 5px solid black;
  margin-bottom: 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  flex-wrap: wrap;
}

/* @media screen and (max-width:632) {
  align-items: center;  
} */

a {
  /* flex-direction: column; */
  font-size: 24px;
  padding: 0 25px 0 25px;
}

li {
  line-height: 30px;
}

img {
  border-radius: 15px;
  flex-shrink: 1;
}

#about {
  display: flex;
  flex-wrap: wrap;
}

.facts {
  margin-left: 250px;
  font-size: 24px;
  line-height: 30px;
}
