* {
  box-sizing: border-box;
}

body {
  background-color: #a5bdfd;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 48px;
  background-color: #dcb5ff;
  border-bottom: 5px solid black;
  padding: 10px;
}

nav {
  background-color: #d9f2ff;
  border-bottom: 5px solid black;
}

.nav,
.contact {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  flex-wrap: wrap;
}

h2 {
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 8px;
  background-color: #77529e;
  margin-block: 5px;
}

@media screen and (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
  img {
    max-width: 100%;
  }
  .facts {
    padding-top: 10px;
  }
}

.nav-links,
.contact-links {
  font-size: 24px;
  color: white;
  display: block;
  padding-block: 10px;
  padding-inline: 20px;
  margin-block: 5px;
  border-radius: 20px;
  background-color: #77529e;
  text-decoration: none;
}

img {
  border-radius: 15px;
  max-width: 400px;
  flex-basis: 1 1 auto;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 5px solid black;
  padding-block: 20px;
  padding-inline: 20px;
}

#contact {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: #d9f2ff;
  margin-top: 10px;
}

.facts {
  font-size: 24px;
  line-height: 30px;
  padding-left: 25px;
}

/* .image {
  display: flex;
  justify-content: flex-end;
} */

.card h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 5px;
}

#creations {
  display: flex;
  flex-direction: column;
}

.cssCheat {
text-align: center;
}